* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  height: 100vh;
}
.container {
  margin: 20px 50px;
}

/* ================ Nav section starts from here  ================ */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-items {
  display: flex;
  width: 400px;
  height: 50px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

nav .nav-items .nav-item {
  font-size: 18px;
  cursor: pointer;
  width: 70px;
}
nav .nav-items .nav-item:hover {
  color: red;
  font-size: 20px;
}

nav img {
  width: 100px;
  cursor: pointer;
}

nav .icons {
  text-align: center;
}

nav .icons .icon {
  width: 35px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

nav .icons .icon:hover {
  border-bottom: 3px solid red;
}

/* ================ Intro section =============== */

.intro-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.intro-section .left-section {
  margin-top: 80px;
}
.intro-section h3 {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: start;
}
.intro-section .left-section img {
  width: 60px;
  margin-left: 20px;
}

.left-section h1 {
  font-size: 70px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 20px;
}

.sub-headlines .sub-headline img {
  background-color: red;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.sub-headlines .sub-headline {
  font-size: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.left-section .text {
  color: red;
  font-size: 15px;
  margin: 35px auto;
}
.action-btns {
  display: flex;
  justify-content: start;
  gap: 20px;
  height: 50px;
}
.action-btns .action-btn {
  padding: 5px 30px;
  background-color: red;
  color: white;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.right-section {
  display: flex;
  flex-direction: column;
}
.headphone-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.headphone-div img {
  width: 450px;
  height: 450px;
}

.discount-contents {
  display: flex;
  transform: translate(-30px, -230px);
}
.discount-contents img {
  width: 145px;
}

.discount-contents .discount-txt {
  color: white;
  z-index: 1;
  margin-left: 35px;
  margin-top: 35px;
  position: absolute;
}

.right-section .action-btn {
  cursor: pointer;
  padding: 15px 30px;
  color: white;
  border: transparent;
  border-radius: 25px;
  background-color: red;
  margin: 60px 180px;
  align-items: center;
}
.dots {
  width: max-width;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: start;
  margin-top: -150px;
}

.dots .yellow-dot {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f7cd2e;
  margin-right: 25px;
}
.dots .tomato-dot {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: red;
  cursor: pointer;
  margin-right: 20px;
}
.dots .black-dot {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: #0d0d0d;
  margin-right: 80px;
  cursor: pointer;
}

/* =========== Tablets and smaller ========= */

@media (max-width: 800px) {
  nav {
    display: grid;
    padding: 0.5rem 8rem;
  }
  nav .nav-items .nav-item {
    font-size: 0.8rem;
  }
  .intro-section {
    display: grid;
  }

  .intro-section .left-section {
    margin-top: 0.3rem;
    text-align: center;
  }

  .left-section .text {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  .headphone-div img {
    margin-left: 2.5rem;
  }
  .discount-contents {
    position: relative;
    left: 2rem;
  }
}

/* ============= Smartphones ==================== */

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
  }

  nav .icons {
    display: flex;
  }
  nav .nav-items .nav-item {
    font-size: 0.7rem;
  }
}
.left-section h3 {
  padding: 0.3rem 9rem;
}
.right-section .action-btn {
  position: relative;
  right: 170px;
}
